<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.acupuncture">

    <!-- permission add -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name="com.example.screenTime.AppNotify"
        android:allowBackup="true"
        android:icon="@mipmap/logo_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <service
            android:name="com.example.dataclass.MusicService"
            android:enabled="true"
            android:exported="true"></service>
        <activity
            android:name=".DeveloperActivity"
            android:label="開發人員"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:label="關於"
            android:screenOrientation="portrait" />

        <receiver
            android:name="com.example.screenTime.NotificationPublisher"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.example.screenTime.MY_BROADCAST" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.screenTime.ScreenReceiver"
            android:enabled="true" />

        <service
            android:name="com.example.screenTime.ScreenNotifyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".DiseaseClickedActivity"
            android:label="病徵點擊次數統計"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ScreenTimeActivity"
            android:label="螢幕使用時間統計"
            android:screenOrientation="portrait" />

        <activity android:name=".TimeSetActivity" />
        <activity android:name=".DrinkActivity" />
        <activity
            android:name=".EditpwdActivity"
            android:label="修改密碼"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity
            android:name=".EditActivity"
            android:label="修改資料"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:label="個人資料"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyB7wEVHNJqnpALpjyPESI2Zy2ZwJmC9o98"/>
        <activity
            android:name=".CameraXLivePreviewActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>