<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    package="com.example.acupuncture">
    <!-- permission add -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditActivity"
            android:label="修改資料"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ProfileActivity"
            android:label="個人資料"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog"></activity>
        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>